/*body{
    background-color: #F2EDE4 ;
}
*/

:root{
    --fuente-Cards-Cinzel: 'Cinzel', serif;
    --fuente-principal-Castoro: 'Castoro Titling', cursive;
}

body{
    background-color: #EEE8D9!important;
}


#first-h1{
    color: #000000;
    margin: 4rem;
    
    justify-content: center;
    text-align: center;
}

#first-h2{
    
    justify-content: center;
    text-align: center;
    margin-top: 4em;
    font-family:var(--fuente-principal-Castoro);
    font-weight: bold;
    color: #A0522D;
}

.carousel{
    width: 60%!important;
    height: auto!important;
    margin: 0 auto;
}

.caruselh1{
   
    justify-content: center;
    
}

.destacados{
    justify-content: center;
    margin: 2em;
    font-family: var(--fuente-principal-Castoro);
    font-weight: bold;
    color: #A0522D;
    border-bottom: 1px solid #a0512d59;
}

.card-title{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.card{
    margin: -5px;
    background-color: #D2B48C!important ;
    
}

a{
    text-decoration: none!important;
    color: #000000!important;
}


/*NAVBAR*/
nav a {
    font-family: var(--fuente-principal-Castoro);
    font-weight: bold;
    color:  #A0522D !important;
    border-radius: 5px;
    margin: 5px;
}

nav{
    border-bottom: 1px solid #a0512d59; 
}

.nav-link:hover{
    background-color:#A0522D ;
    color: #EEE8D9!important;
    border: 1px solid #A0522D ;
    border-radius: 5px;
}

#navbar{
    background-color: #EEE8D9!important;
}

.navbar-brand img{
    width: 50%;
}

/*NAVBAR*/


.custom-shape-divider-top-1686088599 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1686088599 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1686088599 .shape-fill {
    fill: #F5F5F0;
}

.custom-shape-divider-bottom-1686120081 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686120081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1686120081 .shape-fill {
    fill: #D2B48C;
}


.color1{
    background-color: #F5F5F0;
}

.list-item {
    display: flex!important;
    justify-content: space-between!important;
  }

  .items{
    text-align: end!important;
    
  }

  .tituloh2{
    font-family: var(--fuente-principal-Castoro);
    font-weight: bold;
    border-bottom: 1px solid #A0522D;

  }

  .tituloh3{
    font-family: var(--fuente-principal-Castoro);
    font-weight: bold;
    font-size: 1.2em;
  }

  .fb{
    font-weight: bold;
  }

  .links1{
    margin: 0 auto;
  }
 
#boton-destacado{
    background-color: #D2B48C;
    color: black!important;
    font-family: var(--fuente-principal-Castoro);
    font-weight: bold;
}

#boton-destacado:hover{
    background-color: #A0522D ;
    color: white!important;
}

  /*FOOTER*/

footer{
    min-height: 500px;
    background-color: #D2B48C;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: var(--fuente-principal-Castoro);
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;

}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2 ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid var(--blue-color-500);
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-de-autor{
    font-size: 15px;
    color: #616161;
    padding: 20px;
}



.divider2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.divider2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
    transform: rotateY(180deg);
}

.divider2 .shape-fill {
    fill: #ffffff;
}



/*FOOTER*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.li-magia{
    list-style-type: none;
}