.navbar{
    background: rgb(212,212,212);
    background: linear-gradient(180deg, rgba(212,212,212,1) 0%, rgba(255,255,255,0.6671043417366946) 98%, rgba(255,255,255,1) 100%);
    box-shadow: none!important;
}

@media (max-width: 767px) {
    .colimg {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .rowtxtimg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .carousel {
        width: 100%!important;
        height: auto;
    }
}

.libgcolor:hover{
background-color: #29c1e1!important;

}

.libgcolor{
    border: 1px solid #d4d4d477;
    border-radius: 2px;
}

.uldpd{
    border: none;
    padding: 0;
}

.li-a:hover{
border-bottom: 1px solid #29c1e1!important;
color: #29c1e1!important;
}

.carousel{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.card-title{
    color: #45699c;
}


@media (max-width: 767px) {
    
    .collogoimgguarani{
        display: none!important;
    }
    .collogoimg {
      max-width: 100%;
      height: auto;
    }
  }

  

.h5date{
    font-size: 15px;
}

.card-text{
    padding-top: 20px;
}



.colimg{
    width: 80%;
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;

}

.resumencontainer{
    background-color: #00000085;
    margin-top: 100px;
    padding: 40px;
}

.coltxt{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%!important ;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Alice', serif;;
}

.bg-image{
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.col{
    margin-top: 2em!important;
}

/*.spanfont{
    font-family: 'Rock Salt', cursive;
}
*/

.spanfont{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.li-a{
    font-family: 'ABeeZee', sans-serif;
}

.hdate{
    font-size: .8em;
}

.h4font{
    font-size: 19px;
}

.logoscontainer{
    margin: 6em;
    align-items: center;
    justify-content: center;
    
}

.collogoimg{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;

    width: 30%;
}

.colh1{
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
    display: flex;
    text-align: center;
}

.spancolor4{
    color: rgb(247, 247, 2);
}

.spancolor1{
    color: green;
}

.spancolor2{
    color: blue;
}

.spancolor3{
    color: red;
}

.bi-megaphone-fill{
    color: #29c1e1;
}

/*FOOTER*/

footer{
    min-height: 500px;

}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: var(--font-family-Josefin);
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;

}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2 ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid var(--blue-color-500);
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}



.divider2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.divider2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
    transform: rotateY(180deg);
}

.divider2 .shape-fill {
    fill: #ffffff;
}



/*FOOTER*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-oscura{
    background-color: #000000;
    color: white;
}

.seccion-clara{
    color: black;
    background-color: white;
}



.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
}

.seccion-texto{
    font-size: 1.2rem;
}